{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="content">
    <h2 class = "main_title">Музыкальный помощник</h2>
    <p>Этот сайт создан для помощи музыкантам, а также для привлечения остальных людей к музыке. </p>
    <div class="links">
        <a href="{{ url_for('page1') }}" class="button page1">Цифровой проигрыватель для ваших нот. Здесь можно не только опробовать свои ноты на звук, но и проиграть известные мелодии.</a>
        <a href="{{ url_for('page2') }}" class="button page2">Распознаватель нот. Здесь музыкант, начинающий или профессионал, может записать ноты легко и быстро. Просто сыграйте мелодию, а распознаватель сделает всю скучную работу.</a>
    </div>
</div>
{% endblock %}
