{% extends "base.html" %}

{% block title %}Цифровой проигрыватель{% endblock %}

{% block content %}
<div>
    <h2 class="main_title">Цифровой проигрыватель</h2>
    <form action="{{ url_for('process_text') }}" method="POST">
        <textarea class= "styled-textarea" name="notes_input"  placeholder="Ввод текста нот..."></textarea>
        <button type="submit" class="button-page1 page1">Отправить</button>
    </form>

    {% if notes_input %}
        <h3>Вы ввели: </h3>
        <p>{{notes_input}}</p>
    {% endif %}
    <p>Описание страницы</p>
</div>
{% endblock %}
