body {
    font-family: Comic Sans MS, cursive;
    font-weight: 100;
    margin: 0;
    padding: 0;
    background-color: #eee2dc;
    height: 100vh;
}

.main_title {
    margin-top: 0;
    color:#123c69;
    font-size: 2.5rem;
}

.container {
    display:flex;
    height: 100vh;
}

.sidebar {
    margin-top: 0;
    width: 150px;
    background-color: #685b60;
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    box-sizing: border-box + 20px;
}

.sidebar h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}


.sidebar ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.sidebar ul li {
    margin-bottom: 1rem;
    width: 100%;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 0.5rem;
    border-radius: 5px;
    width: 100%;
}

.sidebar ul li a:hover {
    background-color: #3b3437;
}

.content, .page-content {
    margin: 2rem;
    padding: 1rem;
    border-radius: 5px;
}

.links {
    display: flex;
}

.button {
    display: inline-block;
    text-align: center;
    margin-top: 1rem;
    margin-right: 3rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    width: 300px;
    height: 28vh;
}

.page1 { background-color: #ac3b61; }
.page1:hover { background-color: #c9567c;}
.page2 { background-color: #123c69; }
.page2:hover { background-color: #26588e;}

.page1-border { border: 2px solid #ac3b61; }
.page2-border { border: 2px solid #123c69; }
