{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
<div>
    <h2 class = "main_title">Музыкальный помощник</h2>
    <p>Этот сайт предоставляет два инструмента для работы с музыкой:</p>
        <ul>
            <li><strong>Проигрыватель для нот</strong><br>
                Введите свои ноты, и сразу же послушайте, как они звучат. 
                Этот инструмент поможет вам проверить композиции и наслаждаться музыкой, 
                которую вы создаете. Подходит для быстрой проверки нот или воспроизведения любимых мелодий.
                <br><br>
            </li>
            <li><strong>Распознаватель нот из файла</strong><br>
                Загрузите музыкальный файл, и система автоматически определит ноту. Это идеально подходит для музыкантов, 
                которым нужно быстро преобразовать звук в текст и извлечь нужную информацию из аудио.
            </li>
        </ul>
    <div class="links">
        <a href="{{ url_for('page1') }}" class="button-home page1">Цифровой проигрыватель</a>
        <a href="{{ url_for('page2') }}" class="button-home page2">Распознаватель нот</a>
    </div>
</div>
{% endblock %}
